
.sidebar {
    position: fixed ;
    width: 240px ;
    left: -240px ;
    height: 100% ;
    background: #1e1e1e ;
    transition: all .5s ease ;
    z-index: 2 ;
}

.sidebar header {
    color: white ;
    font-size: 28px ;
    line-height: 70px ;
    text-align: center ;
    background: #1b1b1b ;
    user-select: none ;
    font-family: 'Consolas', sans-serif ;
}

.nav-link1 {
    display: block ;
    color: white ;
    height: 65px ;
    width: 100% ;
    line-height: 65px ;
    padding-left: 30px ;
    border-bottom: 1px solid rgba(255, 255, 255, .1) ;
    border-top: 1px solid black ;
    border-left: 5px solid transparent ;
    box-sizing: border-box ;
    font-family: 'Open Sans', sans-serif ;
    text-decoration: none ;
    transition: all .5s ease ;
}

.nav-link1:hover, .nav-link1.active {
    border-left: 5px solid #b93632 ;
    color: #b93632 ;
}

.sidebar .nav-link1 i {
    font-size: 23px ;
    margin-right: 16px ;
}

.sidebar .nav-link1 span {
    letter-spacing: 1px ;
    text-transform: uppercase ;
}

#check {
    display: none ;
}

label #btn, label #cancel {
    position: absolute ;
    cursor: pointer ;
    background: #262626 ;
    height: 45px ;
    width: 45px ;
    text-align: center ;
    line-height: 45px ;
    color: white ;
    font-size: 29px ;
    border-radius: 5px ;
    margin: 15px 30px ;
    border: 1px solid #262626 ;
    transition: all .5s ease ;
}

label #cancel {
    opacity: 0 ;
    visibility: hidden ;
}

#check:checked ~ .sidebar{
    left: 0 ;
}

#check:checked ~ label #btn {
    margin-left: 245px ;
    opacity: 0 ;
    visibility: hidden ;
}

#check:checked ~ label #cancel {
    margin-left: 245px ;
    opacity: 1 ;
    visibility: visible ;
}

#check:checked ~ .sidebar {
    left: 0 ;
}

body {
    z-index: 1;
}

@media (max-width: 860px) {
    .sidebar {
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }
    header, #btn, #cancel {
        display: none;
    }
    span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar .nav-link1 i {
        margin-left: -10px;

    }
    .nav-link1:hover {
        width: 200px;
        background: inherit;
    }
    .sidebar .nav-link1:hover span {
        opacity: 1;
        visibility: visible;
    }
}

/* Don't Forget to Subscribe our Channel[CodingNepal] */
